{% extends 'layout/centered.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

    <div class="box w-50 mt-12 mx-auto">
        {{ form_errors(form) }}
        {{ form_start(form, { attr: {class: 'form-default', 'onsubmit': "document.querySelector('#contact_form_secret').value = ''"}}) }}
            <h3 class="title is-3">Contact form</h3>
            {{ form_row(form.email) }}
            {{ form_row(form.content) }}
            {{ form_row(form.cochemoi, { label: "Please, check me"}) }}
            <div style="position:absolute; top:-7000px;">
              {{ form_widget(form.decochemoi) }}
              {{ form_widget(form.seconds, { attr: { value: 0 }}) }}
              {{ form_widget(form.secret) }}
            </div>

            <div class="buttons is-centered">
              <button class="button is-primary">Send</button>
              <a href="{{ path('home') }}" class="button is-text">Back</a>
            </div>
        {{ form_end(form) }}
        {% include 'ui/flash/all.html.twig' with { flashes: app.flashes } %}
    </div>
{% endblock %}

{% block script %}

  <script type="text/javascript">

    document.querySelector('#contact_form_secret').value = 'olamonbrave';

    window.setInterval(() => {

      let s = document.querySelector('#contact_form_seconds').value;
      s = parseInt(s)+1;
      document.querySelector('#contact_form_seconds').value = s;

    }, 1000);
  </script>

{% endblock %}
