{% extends 'admin/uts/layout.html.twig' %}

{% block arianne %}
  {{ parent() }}
  <li><a href="{{ path('admin_uts_create') }}">Création</a></li>
{% endblock arianne %}

{% block content %}

      {{form_errors(form)}}
      {{ form_start(form) }}
          {{ form_row(form.id) }}
          {{ form_row(form.name) }}
          {{ form_row(form.fiche) }}

          <div class="nested">
            <ul
            class="ficheSuppls"
            data-index="{{ form.ficheSuppls|length > 0 ? form.ficheSuppls|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.ficheSuppls.vars.prototype)|e('html_attr') }}"
            >
                {% for f in form.ficheSuppls %}
                    <li>
                    {{ form_row(f.application, { label : "Pour l'application"}) }}
                    {{ form_row(f.url, { label: "URL de la fiche"}) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="button outlined add_ficheSuppl" data-collection-holder-class="ficheSuppls">Ajouter une fiche supplémentaire</button>
          </div>

          <div class="form-buttons buttons mt-10">
            <button type="submit" class="button ">Enregistrer</button>
            <a class="button outlined" href="{{ path('admin_uts') }}">Retour</a>

          </div>


          <div style="display:none">
            {{ form_row(form.ficheSuppls) }}
          </div>
      {{ form_end(form) }}

{% endblock %}

{% block script %}
<script type="text/javascript">
  document.querySelectorAll('.add_ficheSuppl').forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  document.querySelectorAll('ul.ficheSuppls li').forEach((tag) => {
        addTagFormDeleteLink(tag)
  })

  function addFormToCollection(e) {
    console.log(e.currentTarget.dataset);
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
    const item = document.createElement('li');

    item.innerHTML = collectionHolder
      .dataset
      .prototype
      .replace(
        /__name__/g,
        collectionHolder.dataset.index
      );

    collectionHolder.appendChild(item);
    collectionHolder.dataset.index++;

    addTagFormDeleteLink(item);
  };

  function addTagFormDeleteLink(item) {
      const removeFormButton = document.createElement('button');
      removeFormButton.innerText = 'Supprimer la fiche';

      item.append(removeFormButton);

      removeFormButton.addEventListener('click', (e) => {
          e.preventDefault();
          // remove the li for the tag form
          item.remove();
      });
  };

</script>
{% endblock %}